body {
    font-family: 'Lucida Sans';
    margin: 0;
    background-color: #333333;
}
  
header {
    background-color: #e5e6eb;
    color: white;
    text-align: center;
    width: 100%;
}

.smallTitle{
    background-color:#333333;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%; 
    height: auto;
}

.smallTitle h1{
    font-size: 25px;
    text-decoration: none;
    color:		#65737e;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    text-decoration: none;
    padding-left: 5%;
}   
   

.bigTitle h1{
    margin-top: 4%;
    font-size: 45px;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    color: white;
    height: 100%;
    background-image: url(background.jpg);
    padding-top: 46%;
    padding-bottom: 9%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-blend-mode: overlay;
    opacity: 0.8;
}

/* .bigTitle p{
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    color: #65737e;
    padding-top: 5%;
} */

#navFilter{
    display: flex;
    background-color: #333333;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4%;
    margin-bottom: 4%;
}

#navFilter label{
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    color: #65737e;
}

#selCountry{
    border-radius: 4px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: #e5e6eb;
    background-color: #65737e;
    text-align: center;
    outline: 2px;
    border:2px;
    padding-top: 5px;
    padding-bottom: 7px;
    width: 150px;
}

#selTheme{
    border-radius: 4px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: #e5e6eb;
    background-color: #65737e;
    text-align: center;
    outline: 2px;
    border:2px;
    padding-top: 5px;
    padding-bottom: 7px;
    width: 150px;
}

#butSearch{
    border-radius: 4px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: #e5e6eb;
    background-color: #65737e;
    text-align: center;
    outline: 2px;
    border:2px;
    padding-top: 5px;
    padding-bottom: 7px;
    width: 150px;
}
   
  
/* .secDadosImage {
    height: 600px;
    background-image: url(work.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-blend-mode: over-lay;
}
   */
.secDados {
    height: 100%;
    background-image: none;
}
  
.invisible {
    display: none;
}
  
.visible {
    display: block;
}
  
td { 
    border: 3px #65737e; 
}
  
tr.headerRow {
    background-color: darkgray;
    font-weight: bold;
}
  
tr.valueRow {
    background-color: 	#d7c6cf;
}
